<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cinema</title>
</head>
<body>
    <div id="container">
        <div id="user-actions">
            <div id="logout-button">
                <form th:action="@{/logout}" method="post" >
                    <button type="submit">Logout</button>
                </form>
            </div>
            <div id="registration-login">
                <a href="/registration">Registration</a>
                <a href="/login">Login</a>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="menu">
            <div class="opction"><a href="/cinema/home">Home</a></div>
            <div class="opction"><a href="/ticket/home">Ticket</a></div>
            <div class="opction"><a href="/seance/home">Seance</a></div>
            <div class="opction"><a href="">Contact</a></div>
            <div class="opction"><a href="">Location</a></div>
            <div style="clear: both;"></div>
        </div>
        <div id="left">
            <table id="seanceTable">
                <tr class="seanceTr">
                    <td>ID</td>
                    <td>Seances</td>
                    <td>Tickets</td>
                </tr>
                <tr th:each="cinema : ${cinema}">
                    <td th:text="${cinema.id}"></td>
                    <td th:text="${cinema.seanceCount}"></td>
                    <td th:text="${cinema.ticketCount}"></td>
                </tr>
            </table>
        </div>
        <div id="footer">
            <a th:if="${#request.isUserInRole('USER')}" href="/cinema/add" id="addButton">Add</a>
            <a th:if="${userRole == 'ADMIN'}" href="/cinema/update" class="updateButton">Update</a>
            <a th:if="${#request.isUserInRole('ADMIN')}" href="/cinema/delete" class="deleteButton">Delete</a>
        </div>
    </div>
</body>
</html>