*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: chocolate;
}

body{
    text-align: center;
}

#container{
    size: 100%;
}

#user-actions{
    position:absolute;
    top: 20px;
    right: 20px;
}

#user-actions a{
    margin: 10px;
    padding: 10px;
}

#logout-button{
    display: inline-block;
    size: 20px;
    margin: 10px;
    padding: 10px;
}

#registration-login{
    display: inline-block;
}

#menu{
    font-size: 20px;
    margin-left: 35%;
    margin-right: 30%;
    margin-top: 5%;
    padding: 30px;
    opacity: 1;
}

.opction{
    float: left;
    text-align: center;
    margin-left: 5%;
    transition: transform 0.3s ease-in-out;
    justify-content: center;
}

.opction:hover{
    transform: scale(1.2);
    cursor: pointer;
}

#left{
    size: 100%;
    margin-left: 35%;
    margin-right: 20%;
}



#footer{
    size: 100%;
    margin-top: 5%;
    margin-right: 25%;
}

#seanceTable{
    text-align: center;
    width: 90%;
    height: 100%;
}

#seanceTr{
    text-align: center;
    border: solid 1px black;
}

td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: solid 0.5px;
}

a{
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar{
    display: none;
}


#addButton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 35%;
    margin-top: 5%;
}

.backButton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #1c458c;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.updateButton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #dbc30f;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.deleteButton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #db0f2e;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.Form{
    margin-left: 45%;
    margin-top: 5%;
}

.inputForm{
    margin-top: 20px;
}

.inputAdd{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.inputUpdate{
    display: inline-block;
    padding: 10px 20px;
    background-color: #dbc30f;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.inputDelete{
    display: inline-block;
    padding: 10px 20px;
    background-color: #db0f2e;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}