<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cinema</title>
</head>
<body>
<div id="container">
    <div id="left">
        <table id="seanceTable">
            <tr class="seanceTr">
                <td>ID</td>
                <td>Title</td>
                <td>Description</td>
            </tr>
            <tr th:each="seance : ${seance}">
                <td th:text="${seance.id}"></td>
                <td th:text="${seance.title}"></td>
                <td th:text="${seance.description}"></td>
            </tr>
        </table>
    </div>
    <div id="footer">
        <form class="Form" method="post" action="/seance/update">
            <label>ID:</label>
            <input class="inputForm" type="number" name="id"><br>
            <label>Title:</label>
            <input class="inputForm" type="text" name="title"><br>
            <label>Description:</label>
            <input class="inputForm" type="text" name="description"><br>
            <input class="inputUpdate" type="submit" value="Update Seance">
        </form>
        <a href="/seance/home" class="backButton">Back</a>
    </div>
</div>
</body>
</html>