<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ticket</title>
</head>
<body>
    <div id="container">
        <div id="left">
            <table id="seanceTable">
                <tr class="seanceTr">
                    <td>ID</td>
                    <td>Title</td>
                    <td>Description</td>
                </tr>
                <tr th:each="seance : ${seance}">
                    <td th:text="${seance.id}"></td>
                    <td th:text="${seance.title}"></td>
                    <td th:text="${seance.description}"></td>
                </tr>
            </table>
        </div>
        <div id="footer">
            <form class="Form" method="post" action="/ticket/buyTicket">
                <label>Id_seance:</label>
                <input class="inputForm" type="text" name="id_seance"><br>
                <label>Price:</label>
                <input class="inputForm" type="number" name="price"><br>
                <label>Date:</label>
                <input class="inputForm" type="date" name="date"><br>
                <input class="inputAdd" type="submit" value="Buy">
            </form>
            <a href="/ticket/home" class="backButton">Back</a>
        </div>
    </div>
</body>
</html>